Consider de-GREASEing signature algorithm values

In Section 3.1 of RFC8701 :

[Applying Generate Random Extensions And Sustain Extensibility (GREASE) to TLS Extensibility](https://datatracker.ietf.org/doc/html/rfc8701#section-3.1)

It states that clients may select one or more GREASE signature algorithm values and advertise them in the "signature_algorithms" or "signature_algorithms_cert" extensions.

The reference implementations of JA4 don't appear to de-GREASE these fields.